 


@model SpisRozmowTelefonicznych.ViewModels.FormularzViewModel


<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Spis połączeń telefonicznych</title>
    <meta name="description" content="Serwis poświęcony spisywaniu przychodzących połączeń telefonicznych" />
    <meta name="keywords" content="telefon, połączenie, spis, zapis połączeń, numer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="~/Content/DodajPolaczenie.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>



</head>

<body>

    <div id="container">

        <div id="logo">
            Spis  połączeń  telefonicznych
        </div>

        <div id="menu">
            <div class="option"> Twoje połączenia </div>
            <div class="option"> Dodaj połączenie </div>
            <div class="option"> Pomoc </div>
            <div>
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"/*, @class = "navbar-right"*/ }))
                    {
                        @Html.AntiForgeryToken()




                        <div class="logged">
                            @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "Nazwa_uzytkownika" })
                        </div>
                        <div class="logged">
                            <a style="color:white;text-decoration:none;" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                        </div>
                    }
                }

                else
                {
                    <ul @*class="nav navbar-nav navbar-right"*@>

                        @*<li >@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                    </ul>
                    @*<br />*@
                    <div class="logged">
                        @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </div>
                }


            </div>



            <div style="clear:both;"></div>
        </div>

    

        <div id="content_Form">
    
            @*@using (@Html.BeginForm("Form", "Form"))
            {

            @Html.LabelFor(o => o.PHONE_NUMBER_CALLER, "Numer telefonu z którego przyszło połączenie")
                <br />
            
            @Html.TextBoxFor(o => o.PHONE_NUMBER_CALLER)
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.PHONE_NUMBER_CALLER)
            </div>*@
            <div id="LContent">
                <div id="OpisdoPola">
                    @Html.LabelFor(o => o.PHONE_NUMBER_CALLER, "Numer telefonu z którego przyszło połączenie:")

                </div>
                <div id="PoleFormularza">
                    @Html.TextBoxFor(o => o.PHONE_NUMBER_CALLER)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.PHONE_NUMBER_CALLER)
                    </div>

                </div>

                <div id="OpisdoPola">
                    @Html.LabelFor(o => o.PHONE_NUMBER, "Numer telefonu na który przyszło połączenie:")

                </div>
                <div id="PoleFormularza">
                    @Html.TextBoxFor(o => o.PHONE_NUMBER)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.PHONE_NUMBER)
                    </div>
                </div>

                <div id="OpisdoPola">
                    @Html.LabelFor(o => o.Date, "Data połączenia(miesiąc/dzień/rok):")

                </div>
                <div id="PoleFormularza">
                    @Html.TextBoxFor(o => o.Date, new { placeholder = "mm/dd/yyyy" })
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Date)
                    </div>

                </div>

                <div id="OpisdoPola">
                    @Html.LabelFor(o => o.NameCaller, "Imię osoby dzwoniącej:")

                </div>
                <div id="PoleFormularza">
                    @Html.TextBoxFor(o => o.NameCaller)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.NameCaller)
                    </div>

                </div>

                <div id="OpisdoPola">
                    @Html.LabelFor(o => o.LastNaemCaller, "Nazwisko osoby dzwoniącej:")

                </div>
                <div id="PoleFormularza">
                    @Html.TextBoxFor(o => o.LastNaemCaller)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.LastNaemCaller)
                    </div>

                </div>
            </div>

            <div id="PContent">
              @*@Html.DropDownList(<1,2> null)*@
            </div>

            <div id="OpisdoPola">
                @Html.LabelFor(o => o.Description, "Czego dotyczyła rozmowa?")

            </div>
            <div id="PoleFormularza">
                @Html.TextAreaFor(o => o.Description)
                <div class="login-validation-message">
                    @Html.ValidationMessageFor(o => o.Description)
                </div>

            </div>

 
            <input style="float:right;"type="submit" value="Zapisz" />





         
        </div>

        <div id="footer">
            Spis połączeń telefonicznych dla firm. Strona w sieci od 2017r. &copy; Wszelkie prawa zastrzeżone
        </div>










    </div>

</body>





</html>



