
<div>
     
    <b><a href="@Url.Action("CallList_DataNajstarsze", "Call")"> Najstarsze</a></b>
    <br />
    <br />
    <b><a href="@Url.Action("CallList_DataNajnowsze", "Call")"> Najnowsze</a></b>
    <br />
    <br />
    <b><a href="@Url.Action("CallList_TylkoDlaMnie", "Call")"> Tylko dla mnie</a></b>
    <br />
    <br />
    <b><a href="@Url.Action("CallList_OdebranePrzezeMnie", "Call")"> Odebrane przeze mnie</a></b>
    <br />
    <br />
    <b><a href="@Url.Action("CallList_StatusTAK", "Call")"> Status: TAK</a></b>
    <br />
    <br />
    <b><a href="@Url.Action("CallList_StatusNIE", "Call")"> Status: NIE</a></b>
    <br />
    <br />

</div>
